################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Casino/v17/Browse.VC.db
/C-Casino/.vs/C-Casino/v17/Browse.VC.db
/C-Casino/.vs/C-Casino/v17/ipch/AutoPCH